<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style></style>

  <!-- Jumbotron -->
  <div class="container">
    <div class="row g-0">
      <div class="card cascading-right border-box">
        <div class="card-body shadow-5 text-center">
          <form role="form" [formGroup]="infoAestheticForm">
            <div class="row">
              <div class="form-outline mb-4 col-4">
                <label class="form-label" for="form3Example4">Color</label>
                <input
                  formControlName="color"
                  type="string"
                  id="form3Example4"
                  class="form-control"
                  placeholder="Color del carro"
                />
              </div>

              <div class="form-outline mb-4 col-4">
                <label class="form-label" for="form3Example5"
                  >Numero de puertas</label
                >
                <input
                  formControlName="numberDoor"
                  type="number"
                  id="form3Example5"
                  class="form-control"
                  placeholder="Numero puertos"
                />
              </div>

              <div class="form-outline mb-4 col-4">
                <label class="form-label" for="form3Example6"
                  >NUmero de asientos</label
                >
                <input
                  formControlName="numberSeats"
                  type="number"
                  id="form3Example6"
                  class="form-control"
                  placeholder="Numero asientos"
                />
              </div>

              <div class="form-outline mb-4 col-12">
                <label class="form-label" for="form3Example7"
                  >Ruta imagen</label
                >
                <input
                  formControlName="imagePath"
                  type="text"
                  id="form3Example7"
                  class="form-control"
                  placeholder="Ruta imagen internet"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
