<!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <!-- Jumbotron -->
  <div class="container">
    <div class="row">
        <div class="card cascading-right border-box">
          <div class="card-body shadow-5 text-center">
            <form role="form" [formGroup]="infoBasicForm">
              <div class="row">

                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example3">Marca</label>
                  <select class="form-select" id="form3Example3" formControlName="brandCarId">
                    <option value="" selected disabled>Seleccione</option>
                    <option *ngFor="let brandCar of listBrandCar" [value]="[brandCar.id]">{{brandCar.description}}</option>
                  </select>
                </div>

                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example4">Referencia</label>
                  <input formControlName="reference"
                         type="text" id="form3Example4" class="form-control" placeholder="Referencia"/>
                </div>
  
                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example5">Precio</label>
                  <input formControlName="price"
                         type="number" id="form3Example5" class="form-control" placeholder="$1200,000"/>
                </div>
  
                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example6">Año modelo</label>
                  <input formControlName="modelYear"
                         type="number" id="form3Example6" class="form-control" placeholder="Año modelo"/>
                </div>
  
                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example7">Categoria</label>
                  <input formControlName="category"
                         type="text" id="form3Example7" class="form-control" placeholder="Categoria"/>
                </div>
  
                <div class="form-outline mb-4 col-4">
                  <label class="form-label" for="form3Example8">Stock</label>
                  <input formControlName="stock"
                         type="number" id="form3Example8" class="form-control" placeholder="Stock"/>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->


