<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="card cascading-right background">
          <div class="card-body p-8 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Inicio de sesión</h2>
            <form role="form" [formGroup]="loginForm">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Email</label>
                  <input
                    formControlName="email"
                    [ngClass]="{ error: isTouchedField(loginForm, 'email') }"
                    type="email"
                    id="form3Example3"
                    class="form-control"
                    placeholder="email"
                  />
                  <span class="text-danger">{{ getErrorForm("email") }}</span>
                </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Contraseña</label>
                <input
                  formControlName="password"
                  [ngClass]="{ error: isTouchedField(loginForm, 'password') }"
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  placeholder="password"
                />
                <span class="text-danger">{{ getErrorForm("password") }}</span>
              </div>

              <!-- Submit button -->
              <button
                (click)="signIn()"
                type="submit"
                class="btn btn-primary btn-block mb-3">
                  Iniciar sesión
              </button>

              <!-- Register buttons -->
              <div>
                <p>Si no te has registrado,</p>
                <a routerLink="../register">click aqui</a>
              </div>
            </form>
          </div>
        </div>
        
      </div>

      <div class="col-lg-9 mb-5 mb-lg-0">
        <!-- src="https://st1.uvnimg.com/d1/f3/8e7325e64441883e4c135a61dddd/los-mejores-carros-2022.jpg" -->
        <img
          src="../../../../../assets/images/wp.jpg"
          class="w-100 rounded-3 shadow-5"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
